<% include ../base/headerStaff %>
    <br>
    <br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-9">
            <h6>Edit Quiz</h6>
            <small>ID :
                <%= data._id %>
            </small>
        </div>

    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>Quiz Title</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="quizTitle" placeholder="Quiz Title" value="<%=data.title %>">
        </div>
        <div class="col-md-5">
            <button onclick="updateQuiz();" class="btn btn-primary">Submit</button>
        </div>
    </div>
    <br>
    <div class='row'>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <a href="/admin/quiz/addQuestion/<%= data._id %>" class="btn btn-primary">Add question</a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table" id="quizList">
                <thead>
                    <tr>
                        <td scope="col">
                            <b>Title</b>
                        </td>
                        <td scope="col">
                            <b>Action</b>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i=0; i< problems.length; i++) { %>
                        <tr>
                            <td>
                                <%= problems[i].question %>
                            </td>
                            <td>
                                <a href="" onclick="removeQuestionFromQuiz('<%= problems[i]._id %>');"> Remove </a>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary" onclick="removeQuiz();" > Delete </button>
            <a href="/admin/quizzes" class="btn btn-primary">Cancel</a>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            $('#quizList').DataTable();
        });
        function updateQuiz() {
            var quizId = "<%= data._id %>"
            var title = document.getElementById("quizTitle").value;
            var data = {
                'id' : quizId,
                'title': title,
            }
            $.post("/api/v1/editQuiz", data, function (response) {
                alert(response.message)
                window.location.replace("/admin/quizzes")
            })
        }
        function removeQuiz() {
            var quizId = "<%= data._id %>"
            var data = {
                'quizId' : quizId,
            }
            var res = confirm("Remove this quiz?")
            if (res === true) {
                $.post("/api/v1/deleteQuiz", data, function (response) {
                    if (response.error == false) {
                        alert(response.message)
                        window.location.replace("/admin/quizzes")
                    }else{
                        alert(response.message)
                    }
                })
            }
        }
        function removeQuestionFromQuiz(id){
            var quizId = "<%= data._id %>"
            var data = {
                'quizId' : quizId,
                'id' : id
            }
            var res = confirm("Remove this question?")
            if (res === true) {
                $.post("/api/v1/removeQuestion", data, function (response) {
                    if (response.error == false) {
                        alert(response.message)
                        location.reload();
                    }else{
                        location.reload();
                    }
                })
            }
        }
        
    </script>
    <% include ../base/footer %>