<% include ./base/header %> 
    <br>
    <br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
            <h6>Edit Question</h6>
            <small>ID :</small>
            <small id='id'><%=data._id %></small>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>Question</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <input type="text" class="form-control" id="question" placeholder="Question title" value="<%=data.question%>">
        </div>
    </div>
    <br>
    <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <select id="select_topic" multiple="multiple">
                    <% for (var i=0; i< topics.length ; i++){  %>
                        <% if (data.topics.indexOf(topics[i]._id) > -1) { %>
                            <option value="<%= topics[i]._id %>" selected="selected"><%= topics[i].title %></option>
                        <% } else { %>
                        <option value="<%= topics[i]._id %>"><%= topics[i].title %></option>
                    <% }
                    }%>
                </select>
            </div>
        </div>
        <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>1</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="choice1" placeholder="Choice" value="<%=data.choices[0] %>">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>2</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="choice2" placeholder="Choice" value="<%=data.choices[1] %>">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>3</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="choice3" placeholder="Choice" value="<%=data.choices[2] %>">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-1">
            <label>4</label>
        </div>
        <div class="col-md-5">
            <input type="text" class="form-control" id="choice4" placeholder="Choice" value="<%=data.choices[3]%>">
        </div>
    </div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-6">
            <label for="correctAnswer">Correct answer number</label>
            <select class="form-control" id="correctAnswer">
                <% if( data.correctAnswer == "1")  {%>
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <% } %>
                    <% if( data.correctAnswer == "2")  {%>
                        <option value="1">1</option>
                        <option value="2" selected>2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    <% } %>
                    <% if( data.correctAnswer == "3")  {%>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3" selected>3</option>
                        <option value="4">4</option>
                    <% } %>
                    <% if( data.correctAnswer == "4")  {%>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" selected>4</option>
                    <% } %>
            </select>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-3">
            <button onclick="updateQuestion();" class="btn btn-primary">Update</button>
            <button onclick="deleteQuestion();" class="btn btn-danger">Delete</button>
            <a href="/questions" class="btn btn-primary">Cancel</a>
        </div>
    </div>
   
    <script>
        var selected
        $(document).ready(function () {
            $('#select_topic').multiselect({
                enableFiltering: true,
                buttonWidth: '250',
                onChange: function(element, checked) {
                    var brands = $('#select_topic option:selected');
                    selected = [];
                    $(brands).each(function(index, brand){
                        selected.push($(this).val());
                    });
                }
            });
        });
        function updateQuestion() {
            var id = "<%= data._id %>"
            var question = document.getElementById("question").value
            var choice1 = document.getElementById("choice1").value
            var choice2 = document.getElementById("choice2").value
            var choice3 = document.getElementById("choice3").value
            var choice4 = document.getElementById("choice4").value
            var e = document.getElementById("correctAnswer")
            var correctAnswer = e.options[e.selectedIndex].value
            var topics = selected;
            alert(selected);
            var data = {
                'id' : id,
                'question': question,
                'choices': [
                    choice1,
                    choice2,
                    choice3,
                    choice4,
                ],
                'correctAnswer': correctAnswer,
                'topics' : topics,
            }
            if (question === "") {
                alert("Please fill in all information")
            } else if (choice1 === "") {
                alert("Please fill in all information")
            } else if (choice2 === "") {
                alert("Please fill in all information")
            }
            else if (choice3 === "") {
                alert("Please fill in all information")
            } else if (choice4 === "") {
                alert("Please fill in all information")
            } else if(topics === undefined){
                alert("Please select at least one Topic")
            } else{
                $.post('/api/v1/editQuestion/', data, function (response) {
                    alert(response.message)
                    window.location.replace("/questions")
                })
            }

        }
        function deleteQuestion(){
            var id = "<%= data._id %>"
            var res = confirm("Are you sure?")
            var data = {
                "id" : id,
            }
            if (res == true){
               $.post('/api/v1/deleteQuestion/',data,function(response){
                    alert(response.message)
                    window.location.replace("/questions")
               })
            }
        }

    </script>
    <% include ./base/footer %> 